*.iml
**/.gradle/
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
**/.cxx/
local.properties
jniLibs

# C++ build artifacts
**/prebuilt/

# Swift build artifacts
**/.build/
**/Package.resolved
