*.iml
**/.gradle/
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
**/.cxx/
local.properties
jniLibs

# Kotlin Gradle plugin data
# See https://kotlinlang.org/docs/whatsnew20.html#new-directory-for-kotlin-data-in-gradle-projects
.kotlin/

# C++ build artifacts
**/prebuilt/

# Swift build artifacts
**/.build/
**/Package.resolved
